[submodule "tensorpeers"]
	path = tensorpeers
	url = https://github.com/dimalv/tensorpeers.git
	branch = master
[submodule "layer"]
	path = layer
	url = https://github.com/dimalv/layer.git
	branch = master
